/* AboutUs.css */

/* Style for the container */
.imagetext {
    display: flex;
    flex-direction: column; /* Align items vertically */
    
   /* Make the container full height of the viewport */
    color: white;
   padding-left: 200px;
   padding-right: 200px;
   padding-top: 50px;

  }
  
  /* Style for the heading */
  .imagetext h1 {
    font-size: 40px; /* Adjust heading font size */
    margin-bottom: 10px;
    font-weight: bold;
    font-family:cursive; /* Add space below the heading */
  }
  
  /* Style for the paragraph */
  .imagetext p {
    font-size: 25px; /* Adjust paragraph font size */
    line-height: 1.5; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
  }
  