/* AboutUs.css */

/* Style for the container */
.imagetext {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

/* Style for the heading */
.imagetext h1 {
    font-size: 40px; /* Adjust heading font size */
    margin-bottom: 10px; /* Add space below the heading */
    font-weight: bold;
    font-family: cursive;
}

/* Style for the paragraph */
.imagetext p {
    font-size: 25px; /* Adjust paragraph font size */
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .imagetext {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
    }

    .imagetext h1 {
        font-size: 30px;
    }

    .imagetext p {
        font-size: 20px;
    }
}
