/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: palevioletred;
}
.app_container{
  background-color: palevioletred;
}
/* Header styles */
.header {
  background-color: black;
  color: white;
  padding: 20px 0;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 100px; /* Adjust as needed */
}

/* Navigation styles */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px; /* Adjust spacing between navigation items */
}

.nav-links li:last-child {
  margin-right: 0; /* Remove margin from the last navigation item */
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li a:hover {
  text-decoration: underline;
}
